{% extends "base_zero.html" %}
{%block zero%}
<div class="container">
<form method="post" class="input-group">{% csrf_token %}
<table class="table">
      <tr><td>Data przyjęcia:</td><td> {{ form.data_przyjecia }}</td></tr>
      <tr><td>Imie:</td><td> {{ form.imie }}</td></tr>
       <tr><td>Nazwisko:</td><td> {{ form.nazwisko }}</td></tr>
        <tr><td>Nazwisko rodowe:</td><td> {{ form.nazwisko_rodowe }}</td></tr>
         <tr><td>Płeć:</td><td> {{ form.plec }}</td></tr>
          <tr><td>PESEL:</td><td> {{ form.pesel }}</td></tr>
           <tr><td>Numer dowodu:</td><td> {{ form.nr_dowodu }}</td></tr>
            <tr><td>Miejsce urodzenia:</td><td> {{ form.miejsce_urodzenia }}</td></tr>
            <tr><td>Imiona rodziców:</td><td> {{ form.imiona_rodzicow }}</td></tr>
    </table>
    <input type="submit" value="Save" class="btn btn-info ml-5 mb-5">
</form>
</div>
{%endblock%}
